.label-total {
  font-size: large;
  margin-top: 11.5px;
  margin-bottom: 11.5px;
  display: block;
  text-align: right;
  padding-right: 15px;
}
.panel-title-fix {
  margin-top: 0;
  margin-bottom: 0;
  /*font-size: 15px;*/
  color: inherit;
}
