.no-top-margin {
  margin-top:0px;
}

.no-bottom-margin: {
  margin-bottom: 0px;
}

.label-total {
  font-size: large;
  margin-top: 11.5px;
  margin-bottom: 11.5px;
  display: block;
  text-align: right;
  padding-right: 15px;
}
.panel-title-fix {
  margin-top: 0;
  margin-bottom: 0;
  /*font-size: 15px;*/
  color: inherit;
}
.help-button {
  position: fixed;
  top: 70px;
  right: 5px;
  z-index: 500;
}
